//Contenedor general del pie de pagina
.footer{
   border: solid rgb(8, 78, 31) 1px; 
   width:100%;
   height: 50%;
    grid-column: 1/5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //overflow: hidden;
}


.copy{
  border: solid red 1px;
  width: 269px;
  height: 28px;
}
.redes{
  border: solid red 1px;
  width: 269px;
  height: 28px;
}