//Contenedor padre de todo el principal
.main{
  //  border: solid rgb(238, 148, 13) 2px; 
    padding: 1px;
    margin: 0.5em;
    margin-top: 120px;
    grid-column: 1/5;
    position: relative;
    height:auto; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //overflow: hidden;
 }
    //MA01DI01
   .contenedor-azul {
   //  border: solid red 2px;   
     position: absolute;
     width: 100%;
     height: 30%;
     background-image: linear-gradient(#0000FF, #0000A3);
     transform: skewY(-6deg);
     transform-origin: top left;
   }
   
   //MA01SE01
   .main-spoty
    {
       // border: solid rgb(8, 247, 99) 3px;   
        margin: 1em;  
        padding: 1em;  
        position: relative;
        width: 100%; 
        h1{
            color:#FFFFFF;
            font-size: 48px;
            width: 209px;
            height: 62px;
            font-family: 'IBM Plex Sans', sans-serif; 
        } 
    }
        //SE02DI01
        .contendor-episodios{
           // border: solid black 2px;
            width: auto;
            margin: 1em;  
            padding: 1em;  
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
          
            
        }
         //SE02DI01DI0
        .spoty{   
          //  border: solid black 1px;
            margin: 1px;  
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 6px;  
            width: 500px;
            height: 233px;
            .reproductor-sppoty{
                width: 500px;
                height: 233px;
            }
        }
           


    //MA01SE02         
    .history{
     //   border: solid red 1px;  
        width: 100%; 
        margin: 1px;  
        padding: 1px;  
        position: relative;
        margin-top: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
        //MA01SE01DI01
        .img{
         //  border: solid rgb(4, 160, 74) 3px; 
        }
        //MA01SE01DI02
        .text{
           // border: solid rgb(128, 95, 245) 3px;   
            margin: 1px;
            padding: 1px;  
           // margin-right: 256px;
            align-self: center;

                h1{
                    //border: solid red 1px;
                    margin: 1px;
                    padding: 1px; 
                    margin-bottom: 25px;
                    width: 400px;
                    height: 52px; 
                    font-size: 48px;
                    color: #060A24;
                    letter-spacing: 0;
                    font-family: 'IBM Plex Sans', sans-serif;  
                }
                p{
                   // border: solid red 1px;
                    margin: 1px;
                    padding: 2px; 
                    font-size: 16px;
                    color: #060A24;
                    line-height: 24px;
                    width: 468px;
                    height: 204px; 
                    font-family: 'IBM Plex Mono', monospace;
                    line-height: 24px;
                }
        }
.estelares_titulo{
 // border: solid red 1px;
  margin-bottom: 36px;
  margin-left: 200px;
  margin-top: 64px;
  width: 481px;
  height: 62px;  

  h1{
    //border: solid red 1px;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-family: 'IBM Plex Sans', sans-serif;  
}
}
.estelares{
  // border: solid red 1px;
   width:auto;
   margin: 1px;
   padding: 2px; 
   margin-bottom: 64px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

   .invitadas{
    //border: solid black 1px;  
    width: 440px;
    height: 364px;  
    color: rgb(128, 95, 245);
    .img_estelares{
      //border: solid red 1px;
      width: 440px;
      height:364px;  

    }
  } 
}

.temas_titulos{
 // border: solid red 2px;
  margin-bottom: 56px;
  margin-left: 150px;
  margin-top: 64px;
  width: 586px;
  height: 62px;  
    h1{
    //border: solid chartreuse 1px;
      font-size: 48px;
      color: #060A24;
      letter-spacing: 0;
      font-family: 'IBM Plex Sans', sans-serif;  
  }
}

.temas
{
  //border: solid red 2px;
   width:100%;
   height: 10%;
   margin-bottom: 34px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   .temas_icons
   {
    //  border: solid red 1px;  
      margin: 1px;
      padding: 1px; 
      width: 260px;
      height: 130px; 
      align-self: center; 

      .temas_icons-img{
        //  border: solid rgb(0, 255, 72) 1px;  
          margin-left: 78px;
          margin-top: 13px;
          margin-right: 78px;
          margin-bottom: 13px;
          width: 104px;
          height: 104px;
      } 
      
      .temas_icons_text{
      // border: solid rgb(9, 7, 43) 3px;
        width: 220px;
        height: 32px; 
        margin-left: 40px;
        margin-right: 40px;
        font-size: 24px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        font-family: 'IBM Plex Sans', sans-serif;    

      }
   }
}


//DIV de novdedades pie de pagina
.novedades{
 // border: solid red 2px;
  width:100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.contenedor-azul-novedades{
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    width: 100%;
    height: 15%;
    background-image: linear-gradient(#0000FF, #0000A3);
    .novedades-text{
     //  border: solid rgb(0, 0, 0) 1px; 
       margin-left: 364px;
       margin-right: 374px;  
       margin-top: 213px;
       width: 692px;
        h1{
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-family: 'IBM Plex Sans', sans-serif; 
      } 
    }
    .btn-escuchar{
   // border: solid red 2px;
    padding: 16px;
    margin-left: 548px;
    margin-right: 548px;
    margin-top: 36px;
    display: inline-block;
    width: 226px;
    height: 56px;
    text-align: center;
    background: #00F3BB;
    cursor: pointer;
    text-decoration: none;   
    }
    .btn-escuchar:hover{
      clip-path:  polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 11% 50%, 0% 0%);
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    }

}

//DIV footer pie de pagina
.footer{
   // border: solid red 1px; 
    width:100%;
    height: 70px;
    padding: 1px; 
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    .copy
    {
    //  border: solid red 1px;
      width: 269px;
      height: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 100px;
      color: #060A24;
      size: 16px;
      font-family: 'IBM Plex Mono', monospace;
    }
    .redes
    {
     //border: solid red 1px;
      width: 269px;
      height: 28px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .redes_img
      {
        //border: solid black 1px;
        width: 18px;
        height: 28px;
        padding: 1px; 
       
        .redes-logimg
        {
          width: 18px;
          height: 28px;
        }
      }

    }
}
