@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grids {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100%;
  margin: auto;
  gap: 2px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 1px;
  margin: 0.5em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}

.header-nav {
  padding: 1px;
  margin: 0.5em;
}

.header_textos {
  padding: 1px;
  margin: 0.5em;
}

.header_textos h1 {
  font-size: 64px;
  color: #060A24;
  letter-spacing: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.header_textos h1 .hello {
  width: 152px;
  height: 84px;
  opacity: 100%;
}

.header_textos h1 .world {
  text-decoration: line-through;
  width: 179px;
  height: 84px;
  opacity: 100%;
}

.header_textos h1 .palet {
  width: 391px;
  height: 84px;
}

.header_textos h1 .color {
  color: #0000EC;
}

.header_textos p {
  font-size: 16px;
  line-height: 24px;
  width: 628px;
  height: 48px;
  font-family: 'IBM Plex Mono', monospace;
  line-height: 24px;
}

.btn {
  padding: 16px;
  margin: 1em;
  display: inline-block;
  width: 226px;
  height: 56px;
  text-align: center;
  background: #00F3BB;
  cursor: pointer;
  text-decoration: none;
}

.main {
  padding: 1px;
  margin: 0.5em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  position: relative;
  height: auto;
}

.contenedor-azul {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#0000A3));
  background-image: linear-gradient(#0000FF, #0000A3);
  -webkit-transform: skewY(-3deg);
          transform: skewY(-3deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.main-spoty {
  margin: 1em;
  padding: 1px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-spoty h1 {
  color: #FFFFFF;
  font-size: 48px;
  width: 209px;
  height: 62px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.contendor-episodios {
  width: 100%;
  height: 500px;
  margin: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spoty1 {
  background: url(../img/embed1.png);
  margin: 0.5em;
  padding: 5px;
  width: 584px;
  height: 232px;
}

.spoty2 {
  background: url(../img/embed2.png);
  margin: 0.5em;
  padding: 5px;
  width: 584px;
  height: 232px;
}

.spoty3 {
  background: url(../img/embed3.png);
  margin: 0.5em;
  padding: 5px;
  width: 584px;
  height: 232px;
}

.spoty4 {
  background: url(../img/embed4.png);
  margin: 0.5em;
  padding: 5px;
  width: 584px;
  height: 232px;
}

.history {
  border: solid red 1px;
  margin: 1em;
  padding: 1px;
  position: relative;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.img {
  background: url(../img/phone.png);
  width: 650px;
  height: 700px;
}

.footer {
  padding: 1px;
  margin: 0.5em;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}
/*# sourceMappingURL=styles.css.map */