@charset "UTF-8";
/*Archivos parciales - segmentación de estilos y funcionalidades*/
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

.grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px; }

.header {
  padding: 1px;
  margin: 0.5em;
  grid-column: 1/5; }

.logo {
  padding: 1px;
  margin: 0.5em;
  width: 36px;
  height: 36px; }

.header_textos {
  padding: 1px;
  margin: 0.5em;
  margin-top: 146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header_textos .content-text {
    margin-left: 200px;
    margin-right: 500px; }
    .header_textos .content-text h1 {
      font-size: 64px;
      color: #060A24;
      letter-spacing: 0;
      font-family: 'IBM Plex Sans', sans-serif; }
      .header_textos .content-text h1 .hello {
        width: 152px;
        height: 84px;
        opacity: 100%; }
      .header_textos .content-text h1 .world {
        text-decoration: line-through;
        width: 179px;
        height: 84px;
        opacity: 100%; }
      .header_textos .content-text h1 .palet {
        width: 391px;
        height: 84px; }
      .header_textos .content-text h1 .color {
        color: #0000EC; }
    .header_textos .content-text p {
      font-size: 16px;
      line-height: 24px;
      width: 628px;
      height: 48px;
      font-family: 'IBM Plex Mono', monospace;
      line-height: 24px; }

.btn {
  padding: 16px;
  margin: 1em;
  display: inline-block;
  width: 226px;
  height: 56px;
  text-align: center;
  background: #00F3BB;
  cursor: pointer;
  text-decoration: none; }

.btn:hover {
  clip-path: polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 11% 50%, 0% 0%);
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: white; }

/*menu*/
header img {
  float: left; }

header nav {
  float: right; }

header nav .menu ul {
  /*posicion absolute para que se posicione debajo del resto del header - top medida del header*/
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000EC;
  height: 0px;
  transition: height 0.5s ease; }

header nav .menu ul li {
  position: relative; }

header nav .menu ul li:hover {
  text-decoration: none; }

header nav .menu ul li a {
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  padding: 16px 5%;
  line-height: 28px;
  display: block; }

header nav .activo {
  color: #060A24;
  text-decoration: line-through; }

header nav .menu ul li a:hover {
  color: #00F3BB;
  text-decoration: line-through; }

/*animación del menu que se desplega*/
header nav .menu input[type="checkbox"]:checked ~ ul {
  height: 240px;
  transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  -webkit-transition: height 0.5s ease-in-out; }

header nav .menu {
  padding-top: 3px; }

/*checkbox transparente y en primer plano*/
header nav .menu input {
  display: block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute; }

/*span -lineas del menu hamburguesa-*/
header nav .menu span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000;
  z-index: 1;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease; }

header nav .menu span:first-child {
  transform-origin: 0% 0%; }

header nav .menu span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*movimiento a cruz*/
header nav .menu input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px); }

header nav .menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

header nav .menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px); }

.main {
  padding: 1px;
  margin: 0.5em;
  margin-top: 120px;
  grid-column: 1/5;
  position: relative;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.contenedor-azul {
  position: absolute;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(#0000FF, #0000A3);
  transform: skewY(-6deg);
  transform-origin: top left; }

.main-spoty {
  margin: 1em;
  padding: 1em;
  position: relative;
  width: 100%; }
  .main-spoty h1 {
    color: #FFFFFF;
    font-size: 48px;
    width: 209px;
    height: 62px;
    font-family: 'IBM Plex Sans', sans-serif; }

.contendor-episodios {
  width: auto;
  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.spoty {
  margin: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 6px;
  width: 500px;
  height: 233px; }
  .spoty .reproductor-sppoty {
    width: 500px;
    height: 233px; }

.history {
  width: 100%;
  margin: 1px;
  padding: 1px;
  position: relative;
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.text {
  margin: 1px;
  padding: 1px;
  align-self: center; }
  .text h1 {
    margin: 1px;
    padding: 1px;
    margin-bottom: 25px;
    width: 400px;
    height: 52px;
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-family: 'IBM Plex Sans', sans-serif; }
  .text p {
    margin: 1px;
    padding: 2px;
    font-size: 16px;
    color: #060A24;
    line-height: 24px;
    width: 468px;
    height: 204px;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 24px; }

.estelares_titulo {
  margin-bottom: 36px;
  margin-left: 200px;
  margin-top: 64px;
  width: 481px;
  height: 62px; }
  .estelares_titulo h1 {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-family: 'IBM Plex Sans', sans-serif; }

.estelares {
  width: 100%;
  margin: 1px;
  padding: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .estelares .invitadas {
    width: 490px;
    height: 364px;
    color: #805ff5; }
    .estelares .invitadas .img_estelares {
      width: 490px;
      height: 364px; }

.temas_titulos {
  margin-bottom: 56px;
  margin-left: 150px;
  margin-top: 64px;
  width: 586px;
  height: 62px; }
  .temas_titulos h1 {
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    font-family: 'IBM Plex Sans', sans-serif; }

.temas {
  width: 100%;
  height: 10%;
  margin-bottom: 34px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .temas .temas_icons {
    margin: 1px;
    padding: 1px;
    width: 260px;
    height: 130px;
    align-self: center; }
    .temas .temas_icons .temas_icons-img {
      margin-left: 78px;
      margin-top: 13px;
      margin-right: 78px;
      margin-bottom: 13px;
      width: 104px;
      height: 104px; }
    .temas .temas_icons .temas_icons_text {
      width: 220px;
      height: 32px;
      margin-left: 40px;
      margin-right: 40px;
      font-size: 24px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      font-family: 'IBM Plex Sans', sans-serif; }

.novedades {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center; }

.contenedor-azul-novedades {
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  width: 100%;
  height: 15%;
  background-image: linear-gradient(#0000FF, #0000A3); }
  .contenedor-azul-novedades .novedades-text {
    margin-left: 364px;
    margin-right: 374px;
    margin-top: 213px;
    width: 692px; }
    .contenedor-azul-novedades .novedades-text h1 {
      font-size: 48px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      font-family: 'IBM Plex Sans', sans-serif; }
  .contenedor-azul-novedades .btn-escuchar {
    padding: 16px;
    margin-left: 548px;
    margin-right: 548px;
    margin-top: 36px;
    display: inline-block;
    width: 345px;
    height: 56px;
    text-align: center;
    background: #00F3BB;
    cursor: pointer;
    text-decoration: none; }
  .contenedor-azul-novedades .btn-escuchar:hover {
    clip-path: polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 11% 50%, 0% 0%);
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: white; }

.footer {
  width: 100%;
  height: 70px;
  padding: 1px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center; }
  .footer .copy {
    width: 269px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: #060A24;
    size: 16px;
    font-family: 'IBM Plex Mono', monospace; }
  .footer .redes {
    width: 269px;
    height: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .footer .redes .redes_img {
      width: 18px;
      height: 28px;
      padding: 1px; }
      .footer .redes .redes_img .redes-logimg {
        width: 18px;
        height: 28px; }

/*
Dispositivo Resolución
Versión de escritorio (base)    940 a 1000 px
Versión para tabletas   940 a 780 px
Versión para teléfonos < 780 px
*/
/*menu simple con tamaño menor a 1000px*/
@media screen and (min-width: 1000px) {
  header nav .menu ul {
    position: relative;
    top: 0;
    right: 0;
    overflow: hidden;
    background: unset;
    height: unset; }

  header nav .menu ul li {
    padding: 5px 10px;
    display: inline-block; }

  header nav .menu ul li:hover {
    background: unset; }

  header nav .menu ul li a {
    padding: unset;
    line-height: unset;
    color: #000; }

  header nav .menu ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through; }

  header nav .menu input {
    display: none; }

  header nav .menu span {
    display: none; } }
@media screen and (max-width: 700px) {
  .header {
    padding: 1px;
    margin: 0.5em;
    grid-column: 1; }

  .logo {
    width: 24px;
    height: 24px; }

  .header_textos {
    padding: 1px;
    margin: 0.5em;
    margin-top: 29px; }
    .header_textos .content-text {
      padding: 1px;
      margin: 2px; }
      .header_textos .content-text h1 {
        font-size: 36px; }
        .header_textos .content-text h1 .hello {
          width: 85px;
          height: 42px; }
        .header_textos .content-text h1 .world {
          width: 102px;
          height: 42px; }
        .header_textos .content-text h1 .palet {
          width: 212px;
          height: 42px; }
        .header_textos .content-text h1 .color {
          color: black; }
      .header_textos .content-text p {
        font-size: 14px;
        line-height: 22px;
        width: 288px;
        height: 66px;
        visibility: hidden; }
      .header_textos .content-text p:before {
        content: "Un podcast que explora el mundo de la programación. Nuevos episodios, todos los jueves cada 15 días.";
        visibility: visible; }

  .btn {
    margin-top: 36px;
    width: 288px;
    height: 48px; }

  .main {
    padding: 1px;
    margin-top: 34px;
    grid-column: 1; }

  .contenedor-azul {
    position: absolute;
    width: 360px;
    height: 1203.5px;
    transform: skewY(-7deg);
    transform-origin: top left; }

  .main-spoty {
    margin: 1px;
    padding: 1px;
    position: relative;
    width: 360px; }
    .main-spoty h1 {
      color: #FFFFFF;
      font-size: 36px;
      margin-left: 22px;
      width: 157px;
      height: 42px; }

  .contendor-episodios {
    width: auto;
    margin-left: 11px;
    margin-top: 21px;
    margin-right: 11px;
    padding: 1px; }

  .spoty {
    margin-left: 11px;
    margin-top: 11px;
    margin-right: 11px;
    width: 300px;
    height: 225px; }
    .spoty .reproductor-sppoty {
      width: 300px;
      height: 298px; }

  .history {
    width: 360px;
    height: 900px;
    margin-top: 41px;
    padding: 1px;
    display: flex;
    flex-direction: column; }

  .img-celular {
    width: 360px;
    height: 519px; }

  .text {
    margin: 1px;
    margin-top: 27px;
    padding: 1px;
    align-self: center;
    width: 360px; }
    .text h1 {
      margin: 1px;
      padding: 1px;
      margin-left: 16px;
      width: 288px;
      height: 84px;
      font-size: 36px; }
    .text p {
      margin: 1px;
      margin-left: 16px;
      margin-top: 8px;
      padding: 2px;
      font-size: 14px;
      width: 288px;
      height: 254px;
      text-align: justify; }

  .estelares_titulo {
    margin-left: 11px;
    margin-top: 54px;
    width: 288px;
    height: 84px; }
    .estelares_titulo h1 {
      font-size: 36px; }

  .estelares {
    width: AUTO;
    display: flex;
    flex-direction: column; }
    .estelares .invitadas {
      width: 350px;
      height: 243px;
      color: #805ff5; }
      .estelares .invitadas .img_estelares {
        width: 350px;
        height: 243px; }

  .temas_titulos {
    margin-left: 11px;
    margin-top: 28px;
    margin-bottom: 24px;
    width: 288px;
    height: 84px; }
    .temas_titulos h1 {
      font-size: 36px; }

  .temas {
    width: 360px;
    height: 890px;
    margin-top: 10px;
    display: flex;
    flex-direction: column; }
    .temas .temas_icons {
      width: 320px;
      height: 150px;
      align-self: center;
      margin-top: 10px; }
      .temas .temas_icons .temas_icons-img {
        margin-left: 108px;
        margin-top: 13px;
        margin-right: 108px;
        width: 104px;
        height: 104px; }
      .temas .temas_icons .temas_icons_text {
        width: 288px;
        height: 32px;
        margin-left: 16px;
        margin-right: 16px; }

  .novedades {
    width: 360px;
    height: 341px;
    margin-top: 5px; }

  .contenedor-azul-novedades {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
    position: absolute;
    width: 360px;
    height: 341px; }
    .contenedor-azul-novedades .novedades-text {
      margin-left: 26px;
      margin-top: 64px;
      margin-right: 16px;
      width: 288px;
      height: 126px; }
      .contenedor-azul-novedades .novedades-text h1 {
        font-size: 36px; }
    .contenedor-azul-novedades .btn-escuchar {
      padding: 16px;
      margin-left: 26px;
      margin-top: 36px;
      margin-right: 16px;
      width: 288px;
      height: 48px; }
    .contenedor-azul-novedades .btn-escuchar:hover {
      clip-path: polygon(88% 0, 100% 50%, 87% 100%, 0% 100%, 11% 50%, 0% 0%);
      background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }

  .footer {
    width: 360px;
    height: 70px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column; }
    .footer .copy {
      margin-left: 47px;
      margin-top: 24px;
      margin-right: 46px;
      line-height: 22px;
      size: 14px; }
    .footer .redes {
      width: 269px;
      height: 28px;
      margin-left: 47px;
      margin-top: 14px;
      margin-right: 46px;
      margin-bottom: 25px; }
      .footer .redes .redes_img {
        width: 16px;
        height: 28px;
        padding: 1px; }
        .footer .redes .redes_img .redes-logimg {
          width: 16px;
          height: 28px; } }

/*# sourceMappingURL=styles.css.map */
